body {
  margin: 0;
}

.wrap {
  width: 800px;
  height: 800px;
  background: #777;
  margin: auto;
  left: 100px;
  top: 50px;
}

.box {
  width: 400px;
  height: 300px;
  background: maroon;
  margin: 0;
  position: absolute;
  left: -50px;
  top: 50px;
}
